.elementor-64
    .elementor-element.elementor-element-2382f50
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-64
    .elementor-element.elementor-element-2382f50:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-64
    .elementor-element.elementor-element-2382f50
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-64 .elementor-element.elementor-element-2382f50 {
    border-style: solid;
    border-width: 0px 0px 02px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-64 .elementor-element.elementor-element-2382f50,
.elementor-64
    .elementor-element.elementor-element-2382f50
    > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}
.elementor-64
    .elementor-element.elementor-element-2382f50
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-64
    .elementor-element.elementor-element-6a2625a.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-64
    .elementor-element.elementor-element-6a2625a.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-64
    .elementor-element.elementor-element-6a2625a
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-64 .elementor-element.elementor-element-3c831ff .image-icon {
    width: 32px;
}
.elementor-64
    .elementor-element.elementor-element-3c831ff
    > .elementor-widget-container
    > .el-button
    .btn-fixed {
    width: 40px;
    height: 40px;
}
.elementor-64
    .elementor-element.elementor-element-3c831ff
    > .elementor-widget-container
    > .el-button
    > .el-btn {
    border-radius: 0px;
    color: #000000;
    background: #ffffff00;
    border-width: 0px;
}
.popup-has-size {
    width: 300px !important;
}
.popup-content {
    padding: 0px;
}
.elementor-64
    .elementor-element.elementor-element-3c831ff
    > .elementor-widget-container
    > .el-button
    > .el-btn:hover {
    color: #00a1b1;
    background: #ffffff00;
    transform: translate(0, -0px);
}
.elementor-64
    .elementor-element.elementor-element-3c831ff
    > .elementor-widget-container {
    margin: 0px 20px 0px 0px;
}
.elementor-64 .elementor-element.elementor-element-3c831ff {
    width: auto;
    max-width: auto;
}
.elementor-64 .elementor-element.elementor-element-e7d8447 .site-logo-text {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1em;
}
.elementor-64
    .elementor-element.elementor-element-e7d8447
    .site-logo-image
    img {
    width: 133px;
}
.elementor-64 .elementor-element.elementor-element-e7d8447 {
    width: auto;
    max-width: auto;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li.menu-item-has-children
    > a:after {
    font-size: 14px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li.mega
    > a:after {
    font-size: 14px;
    color: #b1b1b1;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li.menu-item-has-children
    > a:after {
    color: #b1b1b1;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .style-hover-border_top.hnav
    > .nav-inner
    > div
    > ul.menu
    > li
    > a:before {
    height: 5px;
    background: #d3c8b8;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .style-hover-border_bottom.hnav
    > .nav-inner
    > div
    > ul.menu
    > li
    > a:before {
    height: 5px;
    background: #d3c8b8;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > a {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    border-width: 0px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .vnav
    > .nav-inner
    > div
    > ul.menu
    > li
    + li {
    margin-top: -0px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .hnav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul {
    width: 180px;
    padding: 10px;
    border-width: 0px;
    border-color: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .hnav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul {
    width: 180px;
    padding: 10px;
    border-width: 0px;
    border-color: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .hnav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li
    > ul {
    width: 180px;
    padding: 10px;
    border-width: 0px;
    border-color: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul {
    background: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul {
    background: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li
    > ul {
    background: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > a {
    padding-left: 10px;
    padding-right: 10px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li
    > a {
    padding-left: 10px;
    padding-right: 10px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > a,
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li
    > a,
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > article
    .post-nav-item-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    + li {
    border-top-width: 0px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li
    + li {
    border-top-width: 0px;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > a:hover {
    color: #999999;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li
    > a:hover {
    color: #999999;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li.current-menu-item
    > a {
    color: #999999;
}
.elementor-64
    .elementor-element.elementor-element-3695bcd
    > .elementor-widget-container
    > .el-nav
    > .nav-inner
    > div
    > ul.menu
    > li
    > ul
    > li
    > ul
    > li.current-menu-item
    > a {
    color: #999999;
}
.elementor-64
    .elementor-element.elementor-element-ab4e73e.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-64 .elementor-element.elementor-element-ac5fd11 .image-icon {
    width: 10px;
}
.elementor-64
    .elementor-element.elementor-element-ac5fd11
    > .elementor-widget-container
    > .el-button
    .btn-flexible {
    padding-left: 10px;
    padding-right: 10px;
}
.elementor-64
    .elementor-element.elementor-element-ac5fd11
    > .elementor-widget-container
    > .el-button
    > .el-btn {
    border-radius: 0px;
    font-family: "Montserrat", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: #D30606;
    border-width: 0px;
    border-color: #575757;
}
.elementor-64 .elementor-element.elementor-element-ac5fd11 .el-popup {
    background: #ffffff;
}
.elementor-64
    .elementor-element.elementor-element-ac5fd11
    > .elementor-widget-container
    > .el-button
    > .el-btn:hover {
    color: #131313;
    background: #ffffff;
    transform: translate(0, -0px);
}
.elementor-64 .elementor-element.elementor-element-ac5fd11 {
    width: auto;
    max-width: auto;
}
.elementor-64
    .elementor-element.elementor-element-4cf1ae6
    .searchform-minimal-inline-dropdown {
    width: 300px;
    padding: 10px;
}
.elementor-64
    .elementor-element.elementor-element-4cf1ae6
    .searchform-minimal-inline-dropdown
    .submit {
    background: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 0px 0px 0;
}
.elementor-64
    .elementor-element.elementor-element-4cf1ae6
    .el-searchform
    .search-field {
    font-size: 10px;
    height: 40px;
    border-width: 1px;
    border-radius: 0px;
}
.elementor-64 .elementor-element.elementor-element-4cf1ae6 .search-hit-btn {
    font-size: 20px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #000000;
}
.elementor-64
    .elementor-element.elementor-element-4cf1ae6
    .search-hit-btn:hover {
    color: #04ffe2;
}
.elementor-64 .elementor-element.elementor-element-4cf1ae6 {
    width: auto;
    max-width: auto;
}
@media (max-width: 1024px) {
    .elementor-64 .elementor-element.elementor-element-2382f50 {
        padding: 10px 0px 10px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-64 .elementor-element.elementor-element-2382f50 {
        border-width: 0px 0px 02px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-64 .elementor-element.elementor-element-2382f50,
    .elementor-64
        .elementor-element.elementor-element-2382f50
        > .elementor-background-overlay {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-64 .elementor-element.elementor-element-6a2625a {
        width: 50%;
    }
    .elementor-64
        .elementor-element.elementor-element-3c831ff
        > .elementor-widget-container
        > .el-button
        .btn-fixed {
        width: 18px;
        height: 18px;
    }
    .elementor-64
        .elementor-element.elementor-element-3c831ff
        > .elementor-widget-container
        > .el-button
        > .el-btn {
        font-size: 16px;
    }
    .elementor-64
        .elementor-element.elementor-element-3c831ff
        > .elementor-widget-container {
        margin: 0px 5px 0px 0px;
    }
    .elementor-64 .elementor-element.elementor-element-3c831ff {
        width: auto;
        max-width: auto;
    }
    .elementor-64 .elementor-element.elementor-element-e7d8447 .site-logo-text {
        font-size: 24px;
    }
    .elementor-64
        .elementor-element.elementor-element-e7d8447
        .site-logo-image
        img {
        width: 100px;
    }
    .elementor-64 .elementor-element.elementor-element-ab4e73e {
        width: 50%;
    }
    .elementor-64
        .elementor-element.elementor-element-ac5fd11
        > .elementor-widget-container
        > .el-button
        .btn-flexible {
        padding-left: 6px;
        padding-right: 6px;
    }
    .elementor-64
        .elementor-element.elementor-element-ac5fd11
        > .elementor-widget-container
        > .el-button
        > .el-btn {
        border-radius: 0px;
        font-size: 11px;
        border-width: 0px;
    }
    .elementor-64 .elementor-element.elementor-element-4cf1ae6 .search-hit-btn {
        font-size: 21px;
    }
}
@media (min-width: 768px) {
    .elementor-64 .elementor-element.elementor-element-6a2625a {
        width: 29%;
    }
    .elementor-64 .elementor-element.elementor-element-76eb28f {
        width: 54%;
    }
    .elementor-64 .elementor-element.elementor-element-ab4e73e {
        width: 16.664%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-64 .elementor-element.elementor-element-6a2625a {
        width: 50%;
    }
    .elementor-64 .elementor-element.elementor-element-ab4e73e {
        width: 50%;
    }
}
